{% extends 'layout.html.twig' %}

{% block content %}
	<header class="page-header">
		<div class="container">
			<h1>{{ podcast.title }}</h1>
			<div class="btn-group pull-right timeframe-dropdown">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Zeitraum: <span>{{ timeframe.human }}</span> <span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu">
					<li{% if 'today' == timeframe.raw %} class="active"{% endif %}><a href="{{ path('podcast_index', {'podcast': podcast.slug, 'timeframe': 'today'}) }}">Heute</a></li>
					<li{% if 'yesterday' == timeframe.raw %} class="active"{% endif %}><a href="{{ path('podcast_index', {'podcast': podcast.slug, 'timeframe': 'yesterday'}) }}">Gestern</a></li>
					<li class="divider"></li>
					<li{% if '7days' == timeframe.raw %} class="active"{% endif %}><a href="{{ path('podcast_index', {'podcast': podcast.slug, 'timeframe': '7days'}) }}">Letzte 7 Tage</a></li>
					<li{% if '14days' == timeframe.raw %} class="active"{% endif %}><a href="{{ path('podcast_index', {'podcast': podcast.slug, 'timeframe': '14days'}) }}">Letzte 14 Tage</a></li>
					<li{% if '30days' == timeframe.raw %} class="active"{% endif %}><a href="{{ path('podcast_index', {'podcast': podcast.slug, 'timeframe': '30days'}) }}">Letzte 30 Tage</a></li>
					<li{% if '90days' == timeframe.raw %} class="active"{% endif %}><a href="{{ path('podcast_index', {'podcast': podcast.slug, 'timeframe': '90days'}) }}">Letzte 90 Tage</a></li>
					<li{% if '365days' == timeframe.raw %} class="active"{% endif %}><a href="{{ path('podcast_index', {'podcast': podcast.slug, 'timeframe': '365days'}) }}">Letzte 365 Tage</a></li>
				</ul>
			</div>
		</div>
	</header>

	<div class="container">
		<h2>Downloads</h2>
	</div>

	<div class="container-fluid">
		<div id="download-timeline" data-type="download-timeline" data-source="{{ path('api_v1_podcast_download_timeline', {'podcast': podcast.slug, 'timeframe': timeframe.raw}) }}" data-xlabel="{{ timeframe.matched.3 }}" data-xlabel-format="{{ timeframe.label }}" class="graph-loading"></div>
	</div>

	<div class="container">
		<div class="col-sm-8">
			<h2></h2>
		</div>

		<div class="col-sm-4">
			<h2>Podcast-Clients</h2>
			<div id="download-useragents" data-type="download-clients" data-source="{{ path('api_v1_podcast_download_clients', {'podcast': podcast.slug, 'timeframe': timeframe.raw}) }}" class="graph-loading"></div>
		</div>
	</div>

	<div class="container">
		<h2>Alle Episoden</h2>
		<div class="list-group">
{% for episode, downloads in episodes %}
			<a href="{{ path('episode_index', {'podcast': podcast.slug, 'episode': episode}) }}" class="list-group-item col-sm-3">
				<article>
					<h4 class="list-group-item-heading">{{ episode }}</h3>
					<p class="list-group-item-text">{{ downloads }} Downloads</p>
				</article>
			</a>
{% endfor %}
		</div>
	</div>
{% endblock %}
