{% extends 'layout.html.twig' %}

{% block content %}
	<header>
		<h1>{{ podcast.title }}</h1>
	</header>

	<div class="fullsize">
		<h2 class="inner">Downloads: {{ timeframe.human }}</h2>
		<div id="download-timeline" data-type="download-timeline" data-source="{{ path('api_v1_podcast_download_timeline', {'podcast': podcast.slug, 'timeframe': timeframe.raw}) }}" data-xlabel="{{ timeframe.matched.3 }}" data-xlabel-format="{{ timeframe.label }}" class="graph-loading"></div>
	</div>

	<div class="inner clearfix">
		<div class="left">
			<h2></h2>
		</div>

		<div class="right">
			<h2>Podcast-Clients</h2>
			<div id="download-useragents" data-type="download-clients" data-source="{{ path('api_v1_podcast_download_clients', {'podcast': podcast.slug, 'timeframe': timeframe.raw}) }}" class="graph-loading"></div>
		</div>
	</div>

	<div class="inner">
		<h2>Alle Episoden</h2>
		{% for episode, downloads in episodes %}
		<article class="episode">
			<h3><a href="/{{ podcast.slug }}/{{ episode }}">{{ episode }}</a></h3>
			<p><a href="/{{ podcast.slug }}/{{ episode }}">{{ downloads }} Downloads</a></p>
		</article>
		{% endfor %}
	</div>
{% endblock %}
